.app-container {
  padding-top: 20px;
}
.modal_addButton {
  display: flex;
  justify-content: right;
}
.add-song-button {
  background-color: #fc9706;
  color: #000000;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
}

.song-list-container {
  margin-top: 20px;
}
.thumbnail_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.thumbnail_container {
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #ffffff;
  color: #000000;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.thumbnail {
  width: 50px;
  height: 50px;
}
.playPauseSong {
  border: none;
  background-color: #ffffff;
  color: #fcae1e;
  font-size: 25px;
  cursor: pointer;
}
.deleteSong {
  background-color: #ffffff;
  color: #c9c3c3;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
